/* Stili generali */
body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    position: fixed;
    width: 100%; /* Assicura che la barra di navigazione occupi tutta la larghezza */
    z-index: 1000; /* Assicurati che la barra di navigazione sia sopra altri elementi */
    background-color: transparent !important; /* Colore di sfondo completamente trasparente */
    -webkit-backdrop-filter: blur(1px); 
    backdrop-filter: blur(1px); 
    transition: background-color 0.1s ease, border-color 0.1s ease;
    padding-top: 0; /* Rimuovi il padding superiore */
    padding-bottom: 0; /* Rimuovi il padding inferiore */
    height: 80px; /* Imposta un'altezza fissa per la navbar */
    display: flex;
    align-items: center; /* Centra verticalmente gli elementi */
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5); /* Colore del testo semi-trasparente per la navbar */
    padding: 5px 10px; /* Riduce il padding interno dei link di navigazione */
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.7); /* Colore del brand semi-trasparente */
    font-size: 1.25rem; /* Riduce la dimensione del font del brand */
}

.navbar-nav {
    margin-left: auto; /* Allinea le sezioni della barra di navigazione a destra */
}

.nav-item + .nav-item {
    margin-left: 10px; /* Riduce il distanziamento tra le sezioni della barra di navigazione */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.25rem; /* Riduce la dimensione del font del brand */
}

.navbar-brand small {
    font-size: 0.75rem;
    font-weight: normal;
}

/* Stile per il logo della navbar */
.navbar-logo {
    height: 140px; /* Modifica l'altezza del logo secondo necessità */
    width: auto; /* Mantiene le proporzioni dell'immagine */
}

/* Sezioni */
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Imposta l'altezza delle sezioni a 100vh */
    width: 100%; /* Imposta la larghezza delle sezioni a 100% */
    box-sizing: border-box;
    margin: 0; /* Rimuovi i margini */
    padding: 0; /* Rimuovi i padding */
    position: relative;
}

.full-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.custom-button-container {
    position: absolute;
    bottom: 190px;
    left: 50%;
    transform: translateX(-50%);
}

.custom-button-container.create {
    bottom: 350px; /* Modifica la posizione del pulsante nella sezione Create with Us */
    right: 1100px; /* Posiziona il pulsante a destra */
    left: auto;
    transform: none;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    background-color: #ffffff; 
    border: 2px solid #ffffff; /* Aggiungi un bordo nero */
    border-radius: 22px;
    text-align: center;
    text-decoration: none; /* Rimuove la linea sotto il testo */
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.custom-button:hover, .custom-button:focus {
    background-color: transparent; /* Diventa trasparente quando selezionato */
    color: #ffffff; /* Cambia il colore del testo quando selezionato */
    border-color: #ffffff; /* Mantiene il colore del bordo */
    text-decoration: none; /* Rimuove la linea sotto il testo */
}

/* Stile per mostrare il pulsante con l'effetto di dissolvenza */
.custom-button-container.show {
    opacity: 1; /* Diventa visibile */
}

/* styles.css */

/* Footer Styles */
.footer {
    background-color: #111111;
    color: #fff;
    padding: 20px 20px; /* Riduci il padding del footer */
    text-align: left;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; /* Allinea verticalmente al centro */
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    flex: 0 0 auto; /* Impedisce al logo di espandersi */
    margin-right: 20px; /* Spazio tra il logo e le sezioni del footer */
    margin-left: -100px;
}

.footer-logo img {
    height: 240px; /* Altezza del logo nel footer */
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 5px; /* Riduci il margine delle sezioni del footer */
    text-align: center;
}

.footer-section h4 {
    margin-bottom: 10px; /* Riduci il margine inferiore dei titoli delle sezioni */
    font-size: 18px; /* Riduci la dimensione del font dei titoli delle sezioni */
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px; /* Riduci il margine inferiore degli elementi della lista */
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section form {
    display: flex;
    flex-direction: column;
}

.footer-section input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.footer-bottom {
    text-align: center;
    padding: 10px; /* Riduci il padding inferiore del footer */
    border-top: 1px solid #333;
    margin-top: 10px; /* Riduci il margine superiore del footer */
    font-size: 14px; /* Riduci la dimensione del font del testo inferiore del footer */
}

/* Stili personalizzati per il modale */
.custom-modal .modal-content {
    background-color: #1d1d1f; /* Colore di sfondo del footer */
    color: #fff; /* Colore del testo del footer */
    border: none;
    border-radius: 22px;
}

.custom-modal .modal-header,
.custom-modal .modal-footer {
    border: none;
}

.custom-modal .modal-title {
    color: #ffffff; /* Colore personalizzato per il titolo */
}

.custom-modal .close {
    color: #fff;
}

/* Video di background per desktop */
#homeVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none; /* Disabilita interazioni */
}

/* Video di background per dispositivi mobili */
#homeVideoMobile {
    display: none; /* Nascondi il video di background mobile per impostazione predefinita */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none; /* Disabilita interazioni */
}

/* Media Queries per schermi piccoli */
@media (max-width: 768px) {
    .navbar {
        height: 80px; /* Riduci l'altezza della navbar per schermi piccoli */
    }

    .navbar-logo {
        height: 80px; /* Riduci l'altezza del logo per schermi piccoli */
    }

    .custom-button {
        font-size: 16px; /* Riduci la dimensione del font del pulsante */
        padding: 8px 16px; /* Riduci il padding del pulsante */
    }

    .footer-container {
        flex-direction: column; /* Disporre le sezioni del footer in una colonna su schermi piccoli */
        align-items: center;
    }

    .footer-section {
        margin: 10px 0; /* Aggiungi margine verticale tra le sezioni del footer */
    }

    .custom-button-container {
        bottom: 50px; /* Modifica la posizione del pulsante per schermi piccoli */
    }

    #homeVideo {
        display: none; /* Nascondi il video di background per schermi piccoli */
    }

    #homeVideoMobile {
        display: block; /* Mostra il video di background per schermi piccoli */
    }
}